<tr class="data" data-id="<%= store.id %>" data-username="<%= store.username %>" data-url="<%= store.url %>">
    <td>
        <%= store.id %>
    </td>
    <td>
        <%= store.username %>
    </td>
    <td>
    	<a href="<%= store.url %>" target="_blank">
        	<%= store.url %>
      	</a>
    </td>
    <td>
        <a id="copypwd" class="button">Copy</a>
        <a id="changepwd" class="button">Change</a>
        <a id="deletepwd" class="button">Delete</a>
    </td>
</tr>