<h1>Lockr password manager</h1>

<div class="spacebelow">
    <a id="addnew" class="button">Add new site</a>
</div>
<div class="entries">
    <table class="entrytable">
        <thead>
            <th>
                Site ID
            </th>
            <th>
                Username
            </th>
            <th>
                Function
            </th>
        </thead>
        <tbody>
            <% for entry in directory.keys() %>
                <% for store in directory[entry].values() %>
                    <tr>
                        <td>
                            <%= entry %>
                        </td>
                        <td>
                            <%= store.username %>
                        </td>
                        <td>
                            <input type="hidden" class="id" value="<%= entry %>"/>
                            <input type="hidden" class="username" value="<%= store.username %>"/>
                            <a href="/password?id=<%= u(entry) %>&amp;username=<%= u(store.username) %>" class="button">Copy password</a>
                            <a id="changepwd" class="button">Change password</a>
                            <a id="deletepwd" class="button">Delete password</a>                            
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    
    <%= erb(:addnewsite, :layout => false) %>
    <%= erb(:changepwd, :layout => false) %>
    <%= erb(:deletepwd, :layout => false) %>
</div>
